@import 'tailwindcss';

@source '../views';
@source '../../vendor/robsontenorio/mary/src/View/Components/**/*.php';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source inline("swap swap-rotate swap-on swap-off theme-controller");

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}
